.navbar-brand > .small-brand-text {
  margin-left: 5px;
  font-size: 50%;
}

.admonition.note {
  background-color: #d9edf7;
  color: #008cba;
  padding: 15px;
  margin: 30px 0;
}

.admonition a {
  color: #8b93e9;
}

.admonition a:hover, .admonition a:active {
  color: #4d57c4;
}

.admonition-title {
  font-weight: bold;
}

.bs-sidebar .nav .nav > li > a {
  font-size: 100%;
}

video {
  width: 100%;
}

@media (min-width: 1300px) {
  .container {
    width: 1200px;
  }
}

@media (min-width: 1650px) {
  .container {
    width: 1500px;
  }
}

@media (min-width: 1920px) {
  .container {
    width: 1750px;
  }
}

/* Fix alignment for table headers that have the first n columns strings and the rest right aligned numeric */
div[class$="text-numeric-table"] + table th {
  text-align: right;
}

div[class$="one-text-numeric-table"] + table th:nth-child(1) {
  text-align: left;
}

div[class$="two-one-text-numeric-table"] + table th:nth-child(2) {
  text-align: left;
}
