# Custom or notable settings for the example
# Settings not overridden will default to the defaults in bullet_storm_defaults.yaml in the bullet-storm artifact
# and to the defaults in bullet_defaults.yaml in the bullet-core artifact.

# Storm settings
bullet.topology.name: "bullet"
bullet.topology.metrics.enable: false
bullet.topology.metrics.built.in.enable: false
bullet.topology.query.spout.parallelism: 1
bullet.topology.query.spout.cpu.load: 30.0
bullet.topology.query.spout.memory.on.heap.load: 256.0
bullet.topology.query.spout.memory.off.heap.load: 160.0
bullet.topology.filter.bolt.parallelism: 1
bullet.topology.filter.bolt.cpu.load: 100.0
bullet.topology.filter.bolt.memory.on.heap.load: 256.0
bullet.topology.filter.bolt.memory.off.heap.load: 160.0
bullet.topology.result.bolt.parallelism: 1
bullet.topology.result.bolt.cpu.load: 10.0
bullet.topology.result.bolt.memory.on.heap.load: 128.0
bullet.topology.result.bolt.memory.off.heap.load: 160.0
bullet.topology.loop.bolt.parallelism: 1
bullet.topology.loop.bolt.cpu.load: 10.0
bullet.topology.loop.bolt.memory.on.heap.load: 128.0
bullet.topology.loop.bolt.memory.off.heap.load: 160.0
bullet.topology.join.bolt.parallelism: 1
bullet.topology.join.bolt.cpu.load: 20.0
bullet.topology.join.bolt.memory.on.heap.load: 128.0
bullet.topology.join.bolt.memory.off.heap.load: 160.0
bullet.topology.join.bolt.query.post.finish.buffer.ticks: 3
bullet.topology.join.bolt.query.pre.start.delay.ticks: 2
bullet.topology.tick.spout.interval.ms: 100

bullet.topology.bullet.spout.class.name: "com.yahoo.bullet.storm.examples.RandomSpout"
bullet.topology.bullet.spout.args: []
bullet.topology.bullet.spout.parallelism: 1
bullet.topology.bullet.spout.cpu.load: 25.0
bullet.topology.bullet.spout.memory.on.heap.load: 128.0
bullet.topology.bullet.spout.memory.off.heap.load: 160.0

# Bullet Core settings
bullet.query.aggregation.raw.max.size: 500
# This setting is enforced in the API at this time
# bullet.query.aggregation.max.size: 1024
bullet.query.aggregation.count.distinct.sketch.entries: 16384
bullet.query.aggregation.group.sketch.entries: 1024
bullet.query.aggregation.distribution.sketch.entries: 1024
bullet.query.aggregation.distribution.max.points: 200
bullet.query.aggregation.distribution.generated.points.rounding: 6
bullet.query.aggregation.top.k.sketch.entries: 1024
bullet.query.aggregation.top.k.sketch.error.type: "NFN"
bullet.result.metadata.enable: true

# REST PubSub settings
bullet.pubsub.context.name: "QUERY_PROCESSING"
bullet.pubsub.class.name: "com.yahoo.bullet.pubsub.rest.RESTPubSub"
bullet.pubsub.rest.query.urls:
    - "http://localhost:9999/api/bullet/pubsub/query"
bullet.pubsub.rest.result.url: "http://localhost:9999/api/bullet/pubsub/result"
